*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 3% auto;
    background-color: #221E2C;
    color: #FFE218;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}


button{
    background-color: #221E2C;
    color: #FFE218;
    font-family: 'Press Start 2P', cursive;
    padding: 30px;
    font-size: 100%;
    cursor: pointer;
    border: 1px solid #FFE218;
}

header{
    justify-content: space-between;
}

.flex-container{
    display: flex;
    margin: 75px 0px;
    /* border: 2px solid mediumaquamarine; */
}

.btn-retry{
    padding: 20px;
}

.btn-retry:hover{
    color: #221E2C;
    background-color: #FFE218;
    transition: 0.3s;
}

.rules{
    margin: auto 0;
    font-size: 80%;
}

.number-banner{
    flex-direction: column;
    text-align: center;
}

.span-guess-banner{
    font-size: 200%;
}

.span-random-number{
    margin: 40px 0;
    font-size: 400%;
}

.main-content{
    justify-content:space-around;
    text-align: center;
    /* border: 1px solid khaki; */
}

.input-section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.input-number{
    width: 100%;
    height: 30%;
    font-size: 100%;
    background-color: #221E2C;
    color: #FFE218;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    border: 5px solid #FFE218;
    text-align: center;
    outline: none;
}

::placeholder{
    font-size:10px;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-check{
    padding:20px;
    width: 110%;
}

.btn-check:hover{
    color: #221E2C;
    background-color: #FFE218;
    transition: 0.3s;
}

.span-correct{
    color: #7CFC00;
}

.span-wrong{
    color: #FF0000;
}

.display-section{
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 25%;
    /* border: mediumaquamarine 1px solid; */
}

.display-section-margin{
    padding: 15px 0px;
}

footer{
    text-align: center;
}

